In [3]:
import pandas as pd
pd.__version__

'1.3.4'

In [19]:
import pandas as pd

books = pd.read_csv('Data/books.csv')
type(books)

pandas.core.frame.DataFrame

In [5]:
print(len(books))
print(books.shape)
print(books.columns)

10000
(10000, 23)
Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         10000 non-null  int64
 1   book_id                    10000 non-null  int64
 2   best_book_id               10000 non-null  int64
 3   work_id                    10000 non-null  int64
 4   books_count                10000 non-null  int64
 5   isbn                       9300 non-null   object
 6   isbn13                     9415 non-null   float64
 7   authors                    10000 non-null  object
 8   original_publication_year  9979 non-null   float64
 9   original_title             9415 non-null   object
 10  title                      10000 non-null  object
 11  language_code              8916 non-null   object
 12  average_rating             10000 non-null  float64
 13  ratings_count              10000 non-null  int64
 14  work_ratings_count         10000 non-null  int64
 15  work_text_reviews_count    10000 non-null  int64
 16  ratings_1                  10000 non-null  int64
 17  ratings_2                  10000 non-null  int64
 18  ratings_3                  10000 non-null  int64
 19  ratings_4                  10000 non-null  int64
 20  ratings_5                  10000 non-null  int64
 21  image_url                  10000 non-null  object
 22  small_image_url            10000 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

In [7]:
# limit the columns we keep around
books = books[['title', 'authors', 'average_rating']]
books.head()

,title,authors,average_rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.34
1,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",4.44
2,"Twilight (Twilight, #1)",Stephenie Meyer,3.57
3,To Kill a Mockingbird,Harper Lee,4.25
4,The Great Gatsby,F. Scott Fitzgerald,3.89

In [8]:
books.tail(4)

,title,authors,average_rating
9996,"Means of Ascent (The Years of Lyndon Johnson, #2)",Robert A. Caro,4.25
9997,The Mauritius Command,Patrick O'Brian,4.35
9998,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,3.65
9999,The First World War,John Keegan,4.00

In [9]:
# Get count of the number of occurances for different values in different columns
books.authors.value_counts()

Stephen King                                                                                                                                                                                                                              60
Nora Roberts                                                                                                                                                                                                                              59
Dean Koontz                                                                                                                                                                                                                               47
Terry Pratchett                                                                                                                                                                                                                           42
Agatha Christie                                                                                                                                                                                                                           39
                                                                                                                                                                                                                                          ..
Ildefonso Falcones                                                                                                                                                                                                                         1
Jon Stewart, Rory Albanese, Kevin Bleyer, Rich Bloomquist, Steve Bodow, Tim Carvell, Wyatt Cenac, Hallie Haglund, J.R. Havlan, David Javerbaum, Elliott Kalan, Josh Lieb, Sam Means, Jo Miller, John Oliver, Daniel Radosh, Jason Ross     1
G. Norman Lippert                                                                                                                                                                                                                          1
Brother Andrew, Elizabeth Sherrill, John Sherrill                                                                                                                                                                                          1
John Keegan                                                                                                                                                                                                                                1
Name: authors, Length: 4664, dtype: int64

In [10]:
# get the first five Stephen King books
books[books.authors == 'Stephen King'].head()

                                   title       authors  average_rating
71          The Shining (The Shining #1)  Stephen King            4.17
175                                   It  Stephen King            4.18
231  The Gunslinger (The Dark Tower, #1)  Stephen King            3.99
236                               Carrie  Stephen King            3.93
242                               Misery  Stephen King            4.11

In [12]:
most_popular_books = books.average_rating.nlargest()
type(most_popular_books)

pandas.core.series.Series

In [13]:
# This give the values of the most popular book object we created above 
# This was the five largest average ratings
most_popular_books.values

array([4.82, 4.77, 4.77, 4.76, 4.76])

In [14]:
# However, what if we want to know which books these are? The Axes of the series
# object give the index of the boox in the original books dataframe.
most_popular_books.axes

[Int64Index([3627, 861, 3274, 7946, 8853], dtype='int64')]

In [15]:
# To get that info, cycle through all of the books accessinng the iloc value which stores the index for that row.
for axis_value in most_popular_books.axes:
    print(books.iloc[axis_value].title)

3627                       The Complete Calvin and Hobbes
861        Words of Radiance (The Stormlight Archive, #2)
3274    Harry Potter Boxed Set, Books 1-5 (Harry Potte...
7946                                      ESV Study Bible
8853                             Mark of the Lion Trilogy
Name: title, dtype: object

In [18]:
# or, another way to do it is use nlargest oon the average rating column
books.nlargest(5, 'average_rating').title

3627                       The Complete Calvin and Hobbes
861        Words of Radiance (The Stormlight Archive, #2)
3274    Harry Potter Boxed Set, Books 1-5 (Harry Potte...
7946                                      ESV Study Bible
8853                             Mark of the Lion Trilogy
Name: title, dtype: object

## More on iloc and loc
Working with indexes is common in Python, especially in pandas. We showed how you can use iloc with integer values. However, what does this look like if we have a string index? Let's create a new data frame with our title, authors, and average_rating values. We will store it in a variable called booksCollection. This is the code to set up our new data frame:

In [21]:
# Create a new dataframe with just the title, authors, and average rating
booksCollection = books[['title', 'authors', 'average_rating']]
# This shows the default indices are a range of integers from 0 to 9999
print(booksCollection.index)
# To change the title to th index instead of the built in iloc integer indices
booksCollection = booksCollection.set_index('title')
# We can see that the indices have  changed to the titles
print(booksCollection.index)

RangeIndex(start=0, stop=10000, step=1)
Index(['The Hunger Games (The Hunger Games, #1)',
       'Harry Potter and the Sorcerer's Stone (Harry Potter, #1)',
       'Twilight (Twilight, #1)', 'To Kill a Mockingbird', 'The Great Gatsby',
       'The Fault in Our Stars', 'The Hobbit', 'The Catcher in the Rye',
       'Angels & Demons  (Robert Langdon, #1)', 'Pride and Prejudice',
       ...
       'The Famished Road', 'The Red Knight (The Traitor Son Cycle, #1)',
       'The Time Traveller's Guide to Medieval England: A Handbook for Visitors to the Fourteenth Century',
       'The Everafter War (The Sisters Grimm, #7)', 'Billy Budd, Sailor',
       'Bayou Moon (The Edge, #2)',
       'Means of Ascent (The Years of Lyndon Johnson, #2)',
       'The Mauritius Command',
       'Cinderella Ate My Daughter: Dispatches from the Frontlines of the New Girlie-Girl Culture',
       'The First World War'],
      dtype='object', name='title', length=10000)

In [23]:
# Run nlargest() on this now and see what axes returns from the Series
print(booksCollection.nlargest(5, 'average_rating').axes)

[Index(['The Complete Calvin and Hobbes',
        'Words of Radiance (The Stormlight Archive, #2)',
        'Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)',
        'ESV Study Bible', 'Mark of the Lion Trilogy'],
       dtype='object', name='title'),
 Index(['authors', 'average_rating'], dtype='object')]

In [25]:
# These can not be accessed by the integer iloc locations
most_popular_books = booksCollection.nlargest(3, 'average_rating')
for axis_value in most_popular_books.axes:
    print(books.iloc[axis_value].title)

ValueError: invalid literal for int() with base 10: 'The Complete Calvin and Hobbes'

In [31]:
# It requires using the loc index instead
most_popular_books = booksCollection.nlargest(3, 'average_rating').axes
for axis_value in most_popular_books:
    print(booksCollection.loc[axis_value])

                                                                        authors  \
title
The Complete Calvin and Hobbes                                   Bill Watterson
Words of Radiance (The Stormlight Archive, #2)                Brandon Sanderson
Harry Potter Boxed Set, Books 1-5 (Harry Potter...  J.K. Rowling, Mary GrandPré

                                                    average_rating
title
The Complete Calvin and Hobbes                                4.82
Words of Radiance (The Stormlight Archive, #2)                4.77
Harry Potter Boxed Set, Books 1-5 (Harry Potter...            4.77

KeyError: "None of [Index(['authors', 'average_rating'], dtype='object', name='title')] are in the [index]"