In [4]:
from azure.cosmosdb.table import TableService

account_name = 'gen10-dbc-aug2021-table-api'
account_key = '1iqFVSeSKy0SGMxVcNZyaintFYjdSqEc43MN1N7xCofy1m5smal3QTMUbbB3YPpHOIAYzPinM2uMcpi7wOQ8fQ=='
table_endpoint = f'https://{account_name}.table.cosmos.azure.com:443/'

the_connection_string = f"DefaultEndpointsProtocol=https;AccountName={account_name};AccountKey={account_key};TableEndpoint={table_endpoint};"
table_service = TableService(endpoint_suffix = "table.cosmos.azure.com", connection_string= the_connection_string)
table_name = 'booksTable'

In [5]:
book = table_service.get_entity(table_name, 'dataBooks', '001')
print(f"{book.title} by {book.author}")

Knowledge is Beautiful by David McCandless

In [6]:
print("The first book")
books = table_service.query_entities(table_name)
all_books = list(books)
print(all_books[0])

The first book
{'PartitionKey': 'dataBooks', 'RowKey': '001', 'Timestamp': datetime.datetime(2021, 8, 10, 19, 57, 31, 573760, tzinfo=tzutc()), 'title': 'Knowledge is Beautiful', 'author': 'David McCandless', 'msrp': 30.0, 'etag': 'W/"datetime\'2021-08-10T19%3A57%3A31.5737603Z\'"'}

In [7]:
print("The first book")
books = table_service.query_entities(table_name)
all_books = list(books)
print(all_books[0])

The first book
{'PartitionKey': 'dataBooks', 'RowKey': '001', 'Timestamp': datetime.datetime(2021, 8, 10, 19, 57, 31, 573760, tzinfo=tzutc()), 'title': 'Knowledge is Beautiful', 'author': 'David McCandless', 'msrp': 30.0, 'etag': 'W/"datetime\'2021-08-10T19%3A57%3A31.5737603Z\'"'}

In [8]:
dataBooks = table_service.query_entities(
    table_name, select='title,author')
for dataBook in dataBooks:
    print(f"{dataBook.title} by {dataBook.author}")

Knowledge is Beautiful by David McCandless
The Visual Miscellaneum by Dave McCandless
Datavision 2 by David McCandless
Nuts About Data by Meor Amer
Storytelling with Data by Cole Nussbaumer Knafic
The Book of Circles by Manuel Lima
The Truthful Art by Alberto Cairo

In [9]:
books = table_service.query_entities(
    table_name, filter="author ge 'M' and author lt 'N'",select="title,author")
for book in books:
    print(f"{book.title} by {book.author}")

Nuts About Data by Meor Amer
The Book of Circles by Manuel Lima

In [10]:
books = table_service.query_entities(
    table_name, filter="(author eq 'David McCandless' or author eq 'Meor Amer') and msrp lt 40",select="title,author,msrp")
for book in books:
    print(f"{book.title} by {book.author} - ${book.msrp}")

Knowledge is Beautiful by David McCandless - $30.0
Nuts About Data by Meor Amer - $9.99